@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-mask {
	mask: linear-gradient(90deg, #0000, #000 5% 95%, #0000);
}

.slider {
	--duration: 20s;
	display: flex;
	width: fit-content;
	animation: loop var(--duration) linear infinite normal;
}

.slider-alt {
	animation-direction: reverse;
}

@keyframes loop {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}